body {
    height: 100vh;
    margin: 0;
    background-color: rgb(97, 97, 97);
}

h1 {
    margin: 0;
}

div {
    height: 10%;
}

form {
    height: 90%;
}

form div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

form .column_left {
    width: 20%;
    float: left;
}

form .column_right {
    width: 70%;
    float: right;
}

form label {
    line-height: 25px;
    margin-bottom: 5px;
}

form input,select,textarea {
    min-height: 25px;
    margin-bottom: 5px;

    width: 100%;
    box-sizing: border-box;
    border: 0;
}

form textarea {
    height: 100%;
    resize: none;
}

form input[type="submit"] {
    height: 60px;
    bottom: 20px;
}